body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #5AAFCD;
}
h6{
	color: red;
}

.form-wrapper {
	background-color: #C0D0E5;
    border: 1px solid #e6e6e6;
    width: 300px;
    max-height: 170px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 165px);
    padding: 15px;
}

.button-wrapper {
	text-align: center;
	padding: 10px;
}

.login-button {
	background-color: #A4BB99;
	border: none;
	color: white;
	padding: 6px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.add-button
{
	background-color: #A4BB99;
	border: none;
	color: white;
	padding: 6px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

h2 {
	margin: 0;
	text-align: center;
}

table, .table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

.table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #B2C3D2;
}

.table tr:hover {
	background-color: #e3ffe4;
}

.table th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #256CAD;
	color: white;
}

.table tr.selected {
	background-color: #e3ffe4;
}

