body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #f3f3f3;
}

.form-wrapper {
	background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 300px;
    max-height: 170px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 165px);
    padding: 15px;
}

.button-wrapper {
	text-align: center;
	padding: 10px;
}

.bmi-button {
	background-color: #444;
	border: none;
	color: white;
	padding: 6px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

h2 {
	margin: 0;
	text-align: center;
}

table, .table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #444;
	color: white;
}

.table tr.selected {
	background-color: #e3ffe4;
}
