<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product create</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/static/products.css}" />
</head>
<body>
	<h2>Termék hozzáadása:</h2>
	<h6 align="center" th:if="${wrong}">Nem lehet üres terméknevet
		megadni!</h6>
	<form th:action="@{/products/new}" th:object="${product}" method="post">
		<div align="center">
			<div class="form-group">
				<label class="lead" for="productName">Név: </label> <input
					type="text" class="form-control" id="productName"
					th:field="*{name}" />
			</div>
			<div class="form-group">
				<label class="lead" for="productType">Típus: </label> <input
					type="text" class="form-control" id="productType"
					th:field="*{type}" />
			</div>
			<div class="form-group">
				<label class="lead" for="productPrice"> Ár: </label> <input
					type="text" class="form-control" id="productPrice"
					th:field="*{price}" />
			</div>
		</div>
		<div align="center">
			<button class="btn btn-dark">Create</button>
		</div>

	</form>
</body>
</html>