<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Products</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/static/products.css}" />
	</head>
	<body>
	
		<div align="center">
			<h1>Termékek:</h1>
		</div>
	
		<div align="center">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Név</th>
						<th>Típus</th>
						<th>Ár(HUF)</th>
						<th>Módosítás</th>
						<th>Törlés</th>
				</thead>
				<tbody>
					<tr th:if="${products.empty}">
						<td colspan="5">No Products Available</td>
					</tr>
					<tr th:each="product : ${products}">
						<td><span th:text="${product.id}"></span></td>
						<td><span th:text="${product.name}"></span></td>
						<td><span th:text="${product.type}"></span></td>
						<td><span th:text="${product.price}"></span></td>
						<td><a th:href="@{/products/edit/} + ${product.id}">Módosít</a></td>
						<td><a th:href="@{/products/delete/} + ${product.id}">Töröl</a></td>
					</tr>
					<tr>
						<td colspan="6" align="center">
							<a th:href="@{/products/new}">Új termék felvitele</a>
						</td>
					</tr>
					<tr>
						<td colspan="6" align="center">
							<a th:href="@{/products/logout}">Kijelentkezés</a>
						</td>
					</tr>			
				</tbody>
			</table>
		</div>
	</body>
</html>


