<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Product edit</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/static/login.css}" />
	</head>
	<body>
		<h2>Termék modosítása:</h2>
		<form th:action="@{/products/edit}" th:object="${product}" method="post">
			<div align="center">
				<input type="hidden" class="form-control" id="id" th:field="*{id}" readonly="readonly"/>
				<div class="form-group">
					<label class="lead" for="productName">Név: </label>
					<input type="text" class="form-control" id="productName" th:field="*{name}"/>
				</div>
				<div class="form-group">
					<label class="lead" for="productType">Típus: </label>
					<input type="text" class="form-control" id="productType" th:field="*{type}"/>
				</div>
				<div class="form-group">
					<label class="lead" for="productPrice"> Ár: </label>
					<input type="text" class="form-control" id="productPrice" th:field="*{price}" />
				</div>
			</div>
			<div align="center">
				<button class="login-button">Módosítás</button>
			</div>
		</form>
	</body>
</html>