<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<title>Index</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/main.css}"/>
	</head>
	<body>
		<a th:href="@{/products/}">Termékek listázása</a>
	</body>
</html>